.nav{
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    padding-left: 24px;
    z-index: 2; 
    transition: all 0.5s;
    height: 5rem;
    justify-content: space-between;
    align-items: flex-start;
}

.nav__logo{
    width: 80px;
}
.SCIcon{
    padding-top: 1.5rem;
    width: 100px;
}

.nav__colored{
    background-image: url("./Assets/Screenshot_13.png");
}

.navbar__button:hover {
    cursor: pointer;
    transition: all 0.2s;
    filter: invert(0.8) sepia(1);
}

.navbar__button:active {
    opacity: 0.5;
}
