:root{
    --primary-background-color: #dfcfbc ;
    --primary-box-color:#f1f1f1;
    --background-primary: #fff;
    --background-color: #f1f1f1;
    --background-dark: #e1e1e1;
    --primay-color: #292961;
    --accent: #1f75cb;
    --accent-dark: #0c4e8f;
    --light-color: #f9f9f9;

    --border-color: #e1e1e1;

    --text-color: #fff;
    --gap: 20px;
    --gap-m: 15px;
    --gap-s: 10px;

    --font-family: 'Open Sans', sans-serif;
}

#root{
    background-color: var(--primary-background-color);
}